#section-bi{
    background: rgba(35, 31, 32, 0.9) ;
    background-image: url("../../assets/background-1.png");
    background-attachment: fixed;
}
#section-oi{
    background: rgba(241, 111, 48, 1);
    background-image: url("../../assets/background-1.png");
}

.card-1{
 text-align: center;
 margin-top: 20px;
    /* background: rgba(35, 31, 32) ; */
  /* color: white; */
}
#text{
     color: white;
}



/* fonts */

.font-italianno{
  font-family: 'Italianno';
  font-size: 50px;
}
.font-italianno-text{
  font-family: 'Italianno';
  font-size: 2.5em;
}
.font-italianno-heading{
  font-family: 'Italianno';
  font-size: 4.5em;
    font-weight: bolder;
}

/* latin */
@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: bolder;
  src: local('Italianno'), local('Italianno-Regular'), url("../../assets/fonts/dg4n_p3sv6gCJkwzT6RXiJwo.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}