<section class="py-5" id="section-bi">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <mat-card class="card-1">
        <mat-card-content>
          <h2 class="font-italianno-heading" style=" color: rgba(241, 111, 48, 1);" >Functions and Catering</h2>
          <h1 class="font-italianno-text" style=" color: rgba(241, 111, 48, 1);">your place or ours!</h1>
          <p>We pride ourselves on being committed to excellence. We offer quality service and delicious Indian food bundled
            with class and elegance! Hold your special event in our scenic, breathtaking venue and enjoy delicious catered
            food to complete the evening.
          </p>

          <br>
          <img mat-card-image src="assets/functions.jpg">
          <br>
          <br>
          <h1 class="font-italianno-heading" style=" color: rgba(241, 111, 48, 1);">Group Bookings| Birthday Parties</h1>
          <p>Discounts are available.. Drop us a message, and our event coordinator will be delighted to organise your special
            occasion. Or call us to discuss the details of your event and let us assist with the catering as well.</p>
          <br>
          <p>Minimum 15 pax</p>
          <p>Phone: 07 3207 0333 | Email: info@indique.com.au</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>