<section id="footer" class="py-5 px-5">
  <div class="row">
    <div class="col-md-3">
      <span id="logo-span">
        <img id="logo" src="assets/logo.png">
      </span>
      <p id="author">WEB DESIGN BY PRAVEEN KUMAR</p>
    </div>

    <div class="col-md-3">
      <h4 id="heading">CONTACT US:</h4>
      <p>LAKESIDE SHOPPING CENTRE, D-01,</p>
      <p>LAKESIDE BOULEVARD</p>
      <p>VICTORIA POINT • QLD 4165</p>
      <p> 07 3207 0333</p>
      <h5 id="heading">GET IN TOUCH TODAY!</h5>
    </div>
    <div class="col-md-3">
      <h4 id="heading">HOURS OF OPERATION:</h4>
      <p>Lunch:</p>
      <p>Mon. to Sun.: 11:30 AM – 2:30 PM</p>
      <br>
      <p>Dinner:</p>
      <p> Sun. to Thurs.: 5:00 PM – 8:30 PM</p>
      <p>Fri. & Sat.: 5:00 PM – Late</p>
    </div>
    <div class="col-md-3">
     <h1><a href="https://www.facebook.com/IndiqueVictoriaPoint/"><i class="fab fa-facebook-square icon"></i></a></h1>
     <h1><a href="https://plus.google.com/112181719767616316342"> <i class="fab fa-google-plus icon"></i></a></h1>
     <h1><a href="https://www.tripadvisor.com/Restaurant_Review-g3602128-d4039186-Reviews-Indique_Indian_Restaurant-Victoria_Point_Redland_City_Brisbane_Region_Queensland.html"><i class="fab fa-tripadvisor icon"></i></a></h1>
     <a  href="http://widget.dimmi.com.au/entry/30757?referrerUrl=http://www.indique.com.au&ShowHeader=True"><img id="dimmi" src="assets/dimmi.png"></a>
    </div>
  </div>
</section>