#section-bi{
    background: rgba(35, 31, 32, 0.9) ;
    background-image: url("../../assets/background-1.png");
}
#section-oi{
    background: rgba(241, 111, 48, 1);
    background-image: url("../../assets/background-1.png");
}

.card-1{
 text-align: center;
 /* margin-top: 20px; */
  color: white;
}

#text{
     color: white;
}
.inputbox{
    width:600px;
    font-size: 20px;
}
#btn{
    font-size: 20px;
}

#section-top{
    background: url("../../assets/indique-background.jpg") ;
    min-height: 400px ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
     background-size: cover;
}
#card1{
    background: rgba(241, 111, 48, 1);
    color:white
}
#card2{
   background: rgb(35, 31, 32) ;
    color:white
}