<section class="py-3" id="section-bi">
  <div class="row justify-content-center">
    <div class="col-md-9 card-1">
      <h1 class="font-italianno-heading" style=" color: rgba(241, 111, 48, 1);">Contact</h1>
      <h2>Best Indian Food</h2>
      <h3>IN VICTORIA POINT, QLD</h3>
      <h4 class="font-italianno-text" style=" color: rgba(241, 111, 48, 1);">indique Indian Restaurant</h4>
      <p>When you’re in the mood for some amazing curries, stop by our restaurant.</p>
    </div>
  </div>
</section>


<section class="py-5" id="section-top">
  <br>
  <br>
  <mat-card id="card2">
    <mat-card-content>
      <div class="row justify-content-center" id="text">

        <div class="col-md-5 text-center">
          <h1 class="font-italianno-heading" style=" color: rgba(241, 111, 48, 1);">Order Takeaway or Dine with Us!</h1>
          <h5>LAKESIDE SHOPPING CENTRE, D-01, LAKESIDE</h5>
          <h5>BOULEVARD</h5>
          <h5>Victoria Point, QLD 4165</h5>
          <h5>(Lakeside Drive)</h5>
          <br>
          <h5>Phone: 07 3207 0333</h5>
          <h5>Email: info@indique.com.au</h5>
          <!-- </mat-card-content> -->
          <!-- </mat-card> -->

        </div>
        <div class="col-md-5 text-center">
          <!-- <mat-card id="card2"> -->
          <!-- <mat-card-content> -->
          <h1 class="font-italianno-heading" style=" color: rgba(241, 111, 48, 1);">Open 7 Days for Lunch and Dinner</h1>
          <h5>Lunch: Mon. to Sun.: 11:30 AM – 2:30 PM</h5>
          <h5>Dinner: Sun. to Thurs.: 5:00 PM – 9:00 PM</h5>
          <h5>Fri. & Sat.: 5:00 PM – Late</h5>
          <br>
          <h5>Scenic Water Views • Customer Carpark [300 +] • Air Conditioned</h5>
          <h5>Fully Licensed • BYO (Wine Only) • Functions | Caterings</h5>
          <h5>Alfresco • Vegetarian Options Galore • Disabled Access • Takeaway • Bar</h5>

        </div>

      </div>
    </mat-card-content>
  </mat-card>
  <br>
  <br>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-5 text-center">
      <mat-card id="card2">
        <mat-card-content>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1768.1176642210098!2d153.27833567598122!3d-27.58623281840664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b91661150000069%3A0x6d481103f8fec2f8!2sindique!5e0!3m2!1sen!2sus!4v1459819562962"
            style="border:0" allowfullscreen="" frameborder="0" height="400" width="100%"></iframe>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-md-5 text-center">
      <mat-card >
        <mat-card-content>
          <form class="form" [formGroup]="form" novalidate autocomplete="off">
            <div class="input-group mb-3 justify-content-center">
              <mat-form-field class="inputbox">
                <input matInput class="label " name="name" placeholder="Name" formControlName="name" >
                <mat-error>
                  {{errors.name}}
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="inputbox">
                <input matInput placeholder="Email" name="email" formControlName="email" >
                <mat-error>
                  {{errors.email}}
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="inputbox">
                <input matInput placeholder="Phone" name="phone" formControlName="phone" >
                <mat-error>
                  {{errors.phone}}
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="inputbox">
                <textarea matInput placeholder="Message" name="message" formControlName="message" ></textarea>
                <mat-error>
                  {{errors.message}}
                </mat-error>
              </mat-form-field>
            </div>
            <button mat-raised-button id="btn" type="submit" (click)="onSubmit(form)" [disabled]="form.invalid">Send Message</button>
          </form>
        </mat-card-content>

      </mat-card>
    </div>
  </div>
</section>