<section class="py-5 " id="section-top">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1  class="font-italianno-heading"  style=" color: rgba(241, 111, 48, 1);" >Our Menu</h1>
      <h5>All prices include GST. Prices subject to change without prior notice.</h5>
    </div>
  </div>
  <br>
  <div class="row justify-content-center py-5">

    <div class="col-xl-3 text-center animated bounceInLeft delay-2s">
      <button mat-raised-button id="card1" routerLink="/menu/lunch">
          <h1>Lunch </h1><h1>Menu</h1>
      </button>
    </div>
    
    <div class="col-xl-3 text-center animated bounceInDown ">
      <button mat-raised-button id="card2" routerLink="/menu/dinein">
          <h1>Dine-In </h1>
          <h1>Menu</h1>
      </button>
    </div>

    <div class="col-xl-3 text-center animated bounceInRight delay-5s">
      <button mat-raised-button id="card1" routerLink="/menu/takeaway">
          <h1>Takeaway</h1>
          <h1>Menu</h1>
      </button>
    </div>
  </div>
</section>





<!-- 
<section class="py-5 " id="section-top">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1>Our Menu</h1>
      <h5>All prices include GST. Prices subject to change without prior notice.</h5>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">

    <div class="col-md-3 text-center">
      <mat-card id="card1">
        <mat-card-content>
          <h1>Lunch Special </h1>
          <h1>$12.50</h1>
          <p>Your choice of curry</p>
          <p>+ Rice</p>
          <p>+ Meat ball</p>
          <p>+ Salad</p>
          <p>+ Raita</p>
          <p>+ Papadum</p>
          <p>*Dine-in only*</p>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-md-3 text-center">
      <mat-card id="card2">
        <mat-card-content>
          <h1>Dinner for 2 </h1>
          <h1>$39.90</h1>
          <p>2 pc Onion Bhaji</p>
          <p>2 pc Chicken Tikka</p>
          <p>1 x Butter Chicken</p>
          <p>1 x Madras Coconut Beef Curry</p>
          <p>2 x Naan, Rice</p>
          <p>1 x Raita</p>

          <p>*Takeaway only. No discounts*</p>
        </mat-card-content>
      </mat-card>
    </div>

        <div class="col-md-3 text-center">
          <mat-card id="card1">
            <mat-card-content>
              <h1>All Curry</h1>
              <h1> $14.90</h1>
              <br>
              <h4>Monday & Tuesdat Night</h4>
              <br>
              <h4>Seafood Surcharge %5.00</h4>
              <br>
              <h4>Dine in or Takeaway</h4>
              <br>
              <h6>*Not to be used in conjunction with any other offers*</h6>
            </mat-card-content>
          </mat-card>
        </div>
  </div>
</section>


<section class="py-5" id="section-1">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu1.jpg">
    </div>
  </div>
</section>

<section class="py-5" id="section-1">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu2.jpg">
    </div>
  </div>
</section>

<section class="py-5" id="section-2">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu3.jpg">
    </div>
  </div>
</section>

<section class="py-5" id="section-2">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu4.jpg">
    </div>
  </div>
</section>

<section class="py-5" id="section-2">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu5.jpg">
    </div>
  </div>
</section>

<section class="py-5" id="section-3">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu6.jpg">
    </div>
  </div>
</section>

<section class="py-5" id="section-3">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu7.jpg">
    </div>
  </div>
</section>

<section class="py-5" id="section-3">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu8.jpg">
    </div>
  </div>
</section> -->

<!-- <section id="section-3" >

</section>


<section class="py-5" id="section-2">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-5">
      <img mat-card-image class="img-fluid" src="assets/menu10.jpg">
    </div>
    <div class="col-md-5">
      <img mat-card-image class="img-fluid" src="assets/menu9.jpg">
    </div>
  </div>
</section> -->