<section class="py-5" id="section-1">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="font-italianno-heading"  style=" color: rgba(241, 111, 48, 1);">Lunch Menu</h1>
      <h5>All prices include GST. Prices subject to change without prior notice.</h5>
    </div>
  </div>
  <div class="row mb-4 justify-content-center py-5">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu/lunch-menu.jpg">
    </div>
  </div>
</section>

