#section-1{
    background-image: url("../../../assets/menu/background3.jpg");
     background-repeat: no-repeat;
    background-position: center center;
     background-size: cover;
    background-attachment: fixed;
}