<section class="py-5" id="section-1">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1>Takeaway Menu</h1>
      <h5>All prices include GST. Prices subject to change without prior notice.</h5>
    </div>
  </div>
  <div class="row mb-4 justify-content-center py-5">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu/takeaway-menu.jpg">
    </div>
  </div>
</section>

<section class="py-2" id="section-1">
  <div class="row mb-4 justify-content-center">
    <div class="col-md-9">
      <img mat-card-image class="rounded mx-auto d-block img-fluid" src="assets/menu/takeaway-menu-2.jpg">
    </div>
  </div>
</section>
