.carousel-item {
  height: 60vh; 
}
.carousel-image-1 {
  background: url("../../assets/carousel1.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.carousel-image-2 {
  background: url("../../assets/carousel2.jpg");
  background-size: cover; 
  background-attachment: fixed;
}
.carousel-image-3 {
  background: url("../../assets/carousel3.jpg");
  background-size: cover; 
  background-attachment: fixed;
}
#landing-page{
    background: url("../../assets/home/home-background3.jpg") ;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#logo{
  width:30rem;
  
}
#section-2{
    background: rgba(241, 111, 48, 1);
    background-image: url("../../assets/background-1.png");
    background-attachment: fixed;
}

#section-3{
    background: url("../../assets/background-girl.jpg") ;
    min-height: 300px ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
     background-size: cover;
}

#section-4{
    background: rgba(35, 31, 32, 0.9) ;
    background-image: url("../../assets/background-1.png");
    background-attachment: fixed;
}

.card-1{
 text-align: center;
 margin-top: 20px;
}
.card-special{
  color: white;
  background: rgba(241, 111, 48, 1);
}

#text{
   color: white;
}
#section-6{
    background: url("../../assets/food2.jpg") ;
    min-height: 350px ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
     background-size: cover;
}
#section-7{
    background: rgb(35, 31, 32) ;
    background-image: url("../../assets/background-1.png");
    background-attachment: fixed;
}

#text-color-o{
   color: rgba(241, 111, 48, 1);
}
.card-about{
  color: white;
  background: black;
}
ul li{
  list-style: none;
}
.img-special{
  max-width: 60%;
}

@media only screen and (max-device-width: 1366px) {
    .section-6-text{
      display: none;
      color: #255
    }
    #landing-content{
      margin-top: 0px;
    }
    #logo-span{
       display: none;
    }
}
  


#color-o{
   background: rgba(241, 111, 48, 1);
   color: white;
    text-decoration: none;
} 

#color-animation{
   
  background: linear-gradient(90deg, rgba(241, 111, 48, 1), #f441a5, #ffeb3b, rgba(241, 111, 48, 1));
  background-size: 400%;
  border-radius: 30px;
  color: white;
  text-decoration: none;
}

#color-animation:hover{
  animation: animate 8s linear infinite;
}
#color-animation:before{
  content: '';
  position:absolute;
  top:-5px;
  left:-5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,  rgba(241, 111, 48, 1), #f441a5, #ffeb3b,  rgba(241, 111, 48, 1));
  background-size: 400%;
  border-radius: 30px;
  opacity: 0;
  transition: 0.5s;
}
#color-animation:hover:before{
  filter: blur(60px);
  opacity: 1;
}
@keyframes animate
{
  0%{
    background-position: 0%;
  }
    100%{
    background-position: 400%;
  }
}


/* fonts */

.font-italianno{
  font-family: 'Italianno';
  font-size: 50px;
}
.font-italianno-text{
  font-family: 'Italianno';
  font-size: 2.5em;
}
.font-italianno-heading{
  font-family: 'Italianno';
  font-size: 4.5em;
}
.font-Merriweather{
  font-family: 'Merriweather Sans';
}
/* latin-ext */
/* @font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  src: local('Italianno'), local('Italianno-Regular'), url("../../assets/fonts/dg4n_p3sv6gCJkwzT6RXiJwo.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */
/* latin */
@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 500;
  src: local('Italianno'), local('Italianno-Regular'), url("../../assets/fonts/dg4n_p3sv6gCJkwzT6RXiJwo.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



/* latin-ext */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Sans Light'), local('MerriweatherSans-Light'), url("../../assets/fonts/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1OZyDE0hY.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Sans Light'), local('MerriweatherSans-Light'), url("../../assets/fonts/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1OZyDE0hY.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans'), local('MerriweatherSans-Regular'), url("../../assets/fonts/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1OZyDE0hY.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans'), local('MerriweatherSans-Regular'), url("../../assets/fonts/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1OZyDE0hY.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'), url("../../assets/fonts/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1OZyDE0hY.woff2") format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'), url("../../assets/fonts/2-c49IRs1JiJN1FRAMjTN5zd9vgsFH1OZyDE0hY.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
