.carousel-item {
  height: 60vh; 
}
.carousel-image-1 {
  background: url("../../assets/carousel1.jpg");
  background-size: cover;
  /* background-color: rgba(134, 131, 131, 0.7); */
  background-attachment: fixed;
}
.carousel-image-2 {
  background: url("../../assets/carousel2.jpg");
  background-size: cover; 
  /* background-color: rgba(134, 131, 131, 0.7); */
  background-attachment: fixed;
}
.carousel-image-3 {
  background: url("../../assets/carousel3.jpg");
  background-size: cover; 
  /* background-color: rgba(134, 131, 131, 0.7); */
  background-attachment: fixed;
}
#landing-page{
    background: url("../../assets/home/home-background3.jpg") ;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* margin-top: -64px; */
    /* color: white; */
}
#landing-content{
  margin-top: 100px;
}
#logo{
  width:30rem;
  
}
#section-2{
    background: rgba(241, 111, 48, 1);
    background-image: url("../../assets/background-1.png");
    background-attachment: fixed;
}

#section-3{
    background: url("../../assets/background-girl.jpg") ;
    min-height: 300px ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
     background-size: cover;
}

#section-4{
    background: rgba(35, 31, 32, 0.9) ;
    background-image: url("../../assets/background-1.png");
    background-attachment: fixed;
}

.card-1{
 text-align: center;
 margin-top: 20px;
}
.card-special{
  color: white;
  background: rgba(241, 111, 48, 1);
}

#text{
   color: white;
}
#section-6{
    background: url("../../assets/food2.jpg") ;
    min-height: 350px ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
     background-size: cover;
}
#section-7{
    background: rgb(35, 31, 32) ;
    background-image: url("../../assets/background-1.png");
    background-attachment: fixed;
}

#text-color-o{
   color: rgba(241, 111, 48, 1);
}
.card-about{
  color: white;
  background: black;
}
ul li{
  list-style: none;
}
.img-special{
  max-width: 60%;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    /* #section-3{
        background-attachment: scroll;
    }
       #section-6{
        background-attachment: scroll;
    } */
    .section-6-text{
      display: none;
      color: #255
    }
    #landing-content{
      margin-top: 0px;
    }
    #logo-span{
       display: none;
    }
}
  


#color-o{
   background: rgba(241, 111, 48, 1);
   color: white;
    text-decoration: none;
} 

#color-animation{
   
  background: linear-gradient(90deg, rgba(241, 111, 48, 1), #f441a5, #ffeb3b, rgba(241, 111, 48, 1));
   /* background: linear-gradient(90deg, #03a9fa, #f441a5, #ffeb3b, #03a9fa); */
  background-size: 400%;
  border-radius: 30px;
  color: white;
  text-decoration: none;
}

/* #order-now-button{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 90px;
  text-align: center;
  line-height: 60px;
  color:#fff;
  font-size: 50px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
} */
#color-animation:hover{
  animation: animate 8s linear infinite;
}
#color-animation:before{
  content: '';
  position:absolute;
  top:-5px;
  left:-5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  
  background: linear-gradient(90deg,  rgba(241, 111, 48, 1), #f441a5, #ffeb3b,  rgba(241, 111, 48, 1));
     /* background: linear-gradient(90deg, #03a9fa, #f441a5, #ffeb3b, #03a9fa); */
  background-size: 400%;
  border-radius: 30px;
  opacity: 0;
  transition: 0.5s;
}
#color-animation:hover:before{
  filter: blur(60px);
  opacity: 1;
}
@keyframes animate
{
  0%{
    background-position: 0%;
  }
    100%{
    background-position: 400%;
  }
}