<section id="landing-page" class="py-2">
  <div class="row justify-content-center py-2">
    <div class="col-md-7 text-center" id="landing-content">
      <span id="logo-span">
        <img id="logo" src="assets/logo.png">
      </span>
      <h4 id="text" class="font-italianno">The Fine Indian Cuisine</h4>
      <div class="py-2" id="text">
        <h1 class="display-1" class="font-italianno-heading">
          <b>Call Now
            <i class="fas fa-phone"></i> 07 3207 0333</b>
        </h1>
        <h1>For Booking Takeaway & Delivery </h1>
        <br>
        <h4>LAKESIDE SHOPPING CENTRE, D-01, LAKESIDE BOULEVARD
          <br>Victoria Point, QLD 4165
          <br>(Lakeside Drive)</h4>

        <br>
        <a mat-raised-button id="color-animation" href="tel:0455054645">
          <h1>Call Now</h1>
          <h1></h1>
          <h5>For Function & Catering </h5>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="py-5" id="section-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <mat-card class="card-1 card-special">
        <mat-card-content>
          <h1 class="font-italianno-heading">Special</h1>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="card-1">
        <mat-card-content>
          <img mat-card-image class="img-fluid img-special" src="assets/menu9.jpg">
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>


<!-- SHOWCASE SLIDER -->
<section id="showcase">

  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block  mb-5">
            <h2 class="display-3 font-italianno">CATERING ◆ WEDDINGS ◆ FUNCTIONS</h2>
            <h5 class="lead font-italianno-text">The Fine Indian Cuisine</h5>
            <a routerLink="/about" routerLink="/contact" class="btn btn-danger btn-lg">Book Now</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block mb-5">
            <h2 class="display-3 font-italianno">CATERING ◆ WEDDINGS ◆ FUNCTIONS</h2>
            <h5 class="lead font-italianno-text">The Fine Indian Cuisine</h5>
            <a routerLink="/contact" class="btn btn-primary btn-lg">Order Now</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block  mb-5">
            <h2 class="display-3 font-italianno">CATERING ◆ WEDDINGS ◆ FUNCTIONS</h2>
            <h5 class="lead font-italianno-text">The Fine Indian Cuisine
            </h5>
            <a href="#about" class="btn btn-success btn-lg">Learn More</a>
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<section class="py-5 px-5" id="section-2">
  <div class="row ">

    <div class="col-md-4 ">

      <div class="test-container">
        <img src="assets/home/lunch special.jpg" alt="Avatar" class="test-image">
        <div class="test-overlay-2 text-center">
          <h1>Lunch Special </h1>
          <h1>$12.50</h1>
        </div>
        <div class="test-overlay">
          <div class="test-text">
            <h5>
              Your choice of curry
            </h5>
            <h5>
              + Rice
            </h5>
            <h5>
              + Meat ball
            </h5>
            <h5>
              + Salad
            </h5>
            <h5>
              + Raita & Papadum
            </h5>
            <br> Dine-in only & No discounts
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
    
      <div class="test-container">
        <img src="assets/lunch-special.jpg" alt="Avatar" class="test-image">
        <div class="test-overlay-2 text-center">
          <h1>Indique Feast for 2 </h1>
          <h1>$65.90</h1>
        </div>
        <div class="test-overlay">
          <div class="test-text">
            <h5>
               + an entree of assorted kebabs
            </h5>
            <h5>
               + Your choice of 2 curries
            </h5>
            <h5>
               + Rice
            </h5>
            <h5>
             + Raita
            </h5>
            <h5>
             + Naan
            </h5>
            <br>No discounts
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="test-container">
        <img src="assets/home/dinner-for-2.jpg" alt="Avatar" class="test-image">
        <div class="test-overlay-2 text-center">
          <h1>Dinner for 2 </h1>
          <h1>$39.90</h1>
        </div>
        <div class="test-overlay">
          <div class="test-text">
            
                 2 pc Onion Bhaji<br>
            
                   2 pc Chicken Tikka<br>
           
               1 x Butter Chicken<br>
           
               1 x Madras Coconut Beef Curry<br>
           
               2 x Naan, Rice & 1 X Raita<br>
            
            <br>  Takeaway only. No discounts
          </div>
        </div>
      </div>
    </div>

  </div>
  
</section>

<section id="section-3">
</section>



<section class="py-5 card-special">
  <div class="row justify-content-center">
    <div class="col-md-8 ">
      <p>
        <b>India!</b> The most populous democracy in the World! Think of India and you immediately think “Diversity”. India
        is made up of several States and Union Territories – each with its own unique language and culture. As diverse as
        its culture and traditions, India is also well known for its FOOD!
      </p>
      <br>
      <p>
        Indian cuisine is largely influenced by religious beliefs and regional availability of ingredients. Having seen settlers
        from various parts of the world over the centuries, the Indian Cuisine has also been influenced by those who came
        to her shores. Significant amongst those are the “Mughlai Cuisine”- a gift of the Persians & Arabs, the popular Vindaloo
        that came from the Portuguese, and the British – who anglicized the Indian cuisine and thanks to who we now have
        the Chicken Tikka Masala on menus at most Indian Restaurants!
      </p>
      <br>
      <p>
        <b>The Redlands </b>- located in the Coastal Region of South East Queensland, the Redlands was home to a large Aboriginal
        population before the arrival of the Europeans. It later became home to early settlers from England and Scotland
        and today it is home to many more diverse ethnicities - as diverse as India in its population!
      </p>
      <br>
      <p>
        <b>Indique</b> brings to the Redlands the Unique in Indian Cuisine! Whether you crave an Indian meal complete with curries,
        breads and accompaniments or prefer to have a quick bite - our Menu will get your taste buds tingling! Owner/Chef
        Vinod Kumar brings his passion for food to this dainty restaurant by the Lakeside in Victoria Point. He draws on
        years of experience as Chef de Partie at 5 Star Hotels in India. Add to that 15+ years of expertise in Cuisines with
        a core focus on using local ingredients.
      </p>
    </div>
  </div>
</section>

<section id="section-6" class="py-5">
  <div class="row justify-content-center section-6-text font-italianno-text">
    <div class="col-md-4">
      <div id="text">
        <h1>
          WE HAVE KIDS’ MEALS
        </h1>
        <h3>
          and Gluten and Nut-Free Choices
        </h3>
      </div>
    </div>
    <div class="col-md-4">
      <div id="text">
        <h1>
          All of our ingredients come from fresh and quality local suppliers.
        </h1>
        <br>
        <h3>
          These providers go to great lengths to reduce ‘food miles’ and ensure great satisfaction and enhanced taste. Have a question
          about our menu? Call us on 07 3207 0333 for answers.
        </h3>
      </div>
    </div>
  </div>
</section>

<section id="section-7" class="py-5">
  <div class="row justify-content-center" id="text">
    <div class="col-md-4 text-center">

      <h1>PLACE YOUR</h1>
      <h1>ORDER</h1>
      <h3 class="font-italianno-text" style="  color: rgba(241, 111, 48, 1);">Open 7 Days for Lunch and Dinner</h3>
      <br>
      <a mat-raised-button id="color-o" href="tel:0732070333">
        <h1>Order Now</h1>
      </a>
      <br>
      <br>
      <h1>FREE VIP</h1>
      <h1>MEMBERSHIP</h1>
      <h3 class="font-italianno-text" style=" color: rgba(241, 111, 48, 1);">Get 15% discounts on Food</h3>
      <p>(available Mon, Tues, Wed) Dine in or Takeaway</p>

    </div>
    <div class="col-md-4" id="text" style=" color: rgba(241, 111, 48, 1);">

      <p>Our menu is engineered to feature a balanced mix of classic Indian dishes and innovative contemporary creations based
        on fresh seasonal ingredients, prepared and cooked with traditional recipes.
      </p>
      <br>
      <p>We prepare authentic spice blends right on site, and we also have a theatrical charcoal-fired tandoor oven. Our mouthwatering
        tandoori meats and vegetables are marinated overnight and cooked in our clay tandoor oven, and you can either order
        for takeaway, or dine in at our restaurant.</p>
      <br>
      <p>Try our extensive range of vegetarian and gluten-free dishes and finish your meal with decadent, organic homemade desserts.
        We also feature a balanced wine list that is specially curated to suit all palates.</p>

    </div>
  </div>
</section>

<section class="py-5" id="about">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <img mat-card-image src="assets/outside.jpg">
    </div>
    <div class="col-md-5 text-center">
      <h1 class="font-italianno-heading" style=" color: rgba(241, 111, 48, 1);">About Us</h1>
      <p>In 2006, indique began operating out of the swanky new lakeside precinct of Redlands. Since then, the site has been
        a part of Redlands’ contemporary history, acting as an iconic location attracting visitors from far and wide. People
        come to enjoy the modern style and casual elegance of the award winning indique.</p>
      <br>
      <h1>OUR VALUE SYSTEM</h1>
      <p>Our service culture values an ancient Indian saying:</p>

      <div>
        <h3 class="font-italianno-text" style=" color: rgba(241, 111, 48, 1);">‘Ateethee devo bhava’ - OR - ‘Look after guests like gods’</h3>
      </div>
      <p>Our food reflects the unique flavours of Indian cuisine.</p>
      <button mat-raised-button id="color-o" routerLink="/contact">
        Get in Touch Today
      </button>
    </div>
  </div>
</section>